<p>test works!</p>

<p #pReference>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minima architecto debitis! Laudantium ad consequatur dolor libero reprehenderit quae, hic esse, possimus odio enim dolores neque? Laboriosam veritatis inventore praesentium, saepe iure quas dicta error voluptatum rerum doloribus, dolorum, placeat ea repellat voluptates debitis esse! Doloremque praesentium debitis quam quis.</p>
<button type="button" (click)="getP(pReference);">Get P</button>
<button type="button" (click)="viewElement();">View El</button>